{% extends "layout.twig" %}

{% block content %}

<section class="bk-section">
    <header class="bk-header">
        <div class="header-wrapper clearfix">
            <div class="companyheader">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
            {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
        </div>
    </header>
	{{widget('responsiveslideshow', 'thisunqiuewidgetname', 
	{'duration':'3', 'transSpeed': '1000', 'transType': 'fade', 'showButtons': true, 'showBullets': false, 'allowPause': true, 'allowLoop': true, 'images':
	[
	{'imageHeight':'548', 'imageWidth':'1024', 'url':asset('/images/feature-bg-1.jpg'), 'title':'Slide 1', 'description': 'This is Slide 1'},
	{'imageHeight':'548', 'imageWidth':'1024', 'url':asset('/images/feature-bg-2.jpg'), 'title':'Slide 2', 'description': 'This is Slide 2'},
	{'imageHeight':'548', 'imageWidth':'1024', 'url':asset('/images/feature-bg-3.jpg'), 'title':'Slide 3', 'description': 'This is Slide 3'},{'imageHeight':'350', 'imageWidth':'300', 'url':'http://placehold.it/350x300', 'title':'test title', 'description': 'test desc'}
	]
	})|raw}}

    
</section>

<section class="bk-section wrapper">
	{{widget('gallery', 'ftk-gallery-1',
	{'showDescription': true,
	'showTitle': true,
	'images':
	[
	{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/1.jpg'), 'title':'Image 1', 'description': 'This is image 1'},
	{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/2.jpg'), 'title':'Image 2', 'description': 'This is image 2'},
	{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/3.jpg'), 'title':'Image 3', 'description': 'This is image 3'},
	{'imageHeight':'320', 'imageWidth':'480', 'url':asset('/images/gallery/4.jpg'), 'title':'Image 4', 'description': 'This is image 4'},
	]
	})|raw}}
</section>

<div class="canvas">
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('companyaddress', 'companyaddress', {})|raw}}
    </div>
</footer>

{% endblock %}
